.agent-float {
  position: fixed;
  z-index: 1000; /* Certifique-se de que está acima de outros elementos */
  animation: move-around 10s linear infinite; /* Adiciona a animação de movimento */
}

.floating-image {
  width: 100px; /* Ajuste o tamanho da imagem */
  height: auto;
}

/* Animação para mover o elemento pela tela */
@keyframes move-around {
  0% {
    top: 10%;
    left: 10%;
  }
  25% {
    top: 20%;
    left: 70%;
  }
  50% {
    top: 50%;
    left: 50%;
  }
  75% {
    top: 70%;
    left: 20%;
  }
  100% {
    top: 10%;
    left: 10%;
  }
}