$bg-color: #f0f0f0;

.guess-note-exercise {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
  justify-content: flex-start; /* Align the content to the top */
  height: 100vh; /* Make the container take the full height of the screen */
  text-align: center;
  padding-top: 20px; /* Add padding to create space from the top */

  h2 {
    margin-bottom: 20px;
  }

  .score-container {
    margin-bottom: 20px; /* Add spacing between the stave and the piano */
  }

  .piano {
    display: flex;
    justify-content: center; /* Center the piano horizontally */
    flex-wrap: wrap; /* Allow the piano keys to wrap if necessary */
    gap: 5px; /* Add spacing between the keys */
  }

  .key {
    width: 40px;
    height: 120px;
    font-size: 0.7rem;
    border: 1px solid #000;
    background-color: #fff;
    position: relative;
    z-index: 1;
    cursor: pointer;

    &.black-key {
      background-color: #000;
      color: #fff;
      width: 30px;
      height: 80px;
      margin-left: -15px;
      margin-right: -15px;
      z-index: 2;
    }
  }

  .feedback {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    &.visible {
      visibility: visible;
      opacity: 1;
    }
  }
}